<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatispractice.mapper.PersonMapper">
    <select id="findByIdx" resultType="PersonDto">
        SELECT * FROM person WHERE idx = #{idx}
    </select>

    <select id="findAll" resultType="PersonDto">
        SELECT * FROM person
    </select>

    <insert id="save">
        INSERT INTO person (name, age, address) values (#{name}, #{age}, #{address})
    </insert>
</mapper>